<!--content-->
<article>
  <h1>Rob Drew</h1>
  <p class="subtitle">Guitarist</p>
  <section>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. Culpa molestias nihil libero.
      Sit consequatur velit repellendus voluptate nemo natus Dolor asperiores
      cumque iste quis eaque Repudiandae praesentium deleniti deserunt soluta
      rerum dolore distinctio. Nesciunt odio ad eveniet error dolore? Numquam
      laborum hic?
    </p>
  </section>
  <section>
    <h2 id="projects">Current Projects</h2>
    <ul>
      <li>Thing 1</li>
      <li>Thing 2</li>
      <li>Thing 3</li>
      <li>Thing 4</li>
    </ul>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. Culpa molestias nihil libero.
      Sit consequatur velit repellendus voluptate nemo natus Dolor asperiores
      cumque iste quis eaque Repudiandae praesentium deleniti deserunt soluta
      rerum dolore distinctio. Nesciunt odio ad eveniet error dolore? Numquam
      laborum hic?
    </p>
  </section>
  <section>
    <h2 id="booking">Hiring & Booking</h2>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. Culpa molestias nihil libero.
      Sit consequatur velit repellendus voluptate nemo natus Dolor asperiores
    </p>
  </section>
  <section>
    <h2 id="teaching">Teaching</h2>
    <p><em> Not currently accepting new students </em></p>
  </section>
</article>

<!--/content-->
